/*************************************/
/** Scrollbar styling */
.scrollable-element {
   scrollbar-width: thin;
}

::-webkit-scrollbar {
   width: 0.2rem;
}

::-webkit-scrollbar-track {
   -webkit-border-radius: 0.2rem;
   border-radius: 0.2rem;
   background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
   -webkit-border-radius: 0.2rem;
   border-radius: 0.2rem;
   background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
   background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
   background: rgba(0, 0, 0, 0.05);
}

/*************************************/
/** layout */

.container-fill-viewport-full {
   @apply h-full w-full overflow-hidden box-border;
   user-select: 'none';
}

.container-viewport-fill-only-vertical {
   @apply h-full overflow-hidden box-border;
   user-select: 'none';
}

.container-viewport-scroll-vertical {
   @apply h-full w-full overflow-x-hidden overflow-y-auto box-border;
   user-select: 'none';
}

/*************************************/
/** Typography */

@layer base {
   .MuiTypography-h1,
   .h1 {
      @apply text-4xl;
   }
   .MuiTypography-h2,
   .h2 {
      @apply text-3xl;
   }
   .MuiTypography-h3,
   .h3 {
      @apply text-2xl;
   }
   .MuiTypography-h4,
   .h4 {
      @apply text-lg;
   }
   .MuiTypography-subtitle1,
   .MuiTypography-body1 {
      @apply text-base;
   }
   .MuiTypography-body2,
   .MuiTypography-subtitle2 {
      @apply text-sm;
   }
   .MuiTypography-caption {
      @apply text-xs;
   }
}
